name: Cppcheck Analysis

on:
  push:
    branches: [ main ]

jobs:
  cppcheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Cppcheck
        run: sudo apt-get update && sudo apt-get install -y cppcheck

      - name: Run Cppcheck
        run: cppcheck --enable=all --error-exitcode=1 .
